/* [class*="col"] { 
} */

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* JUMBO */
#jumbo, #about{
    padding: 30px 0 20px;
    background-color: #1abc9c;
    color: white;
}

.avatar{
    width: 50%;
}

.ms_star .ms_separator{
    width: 50px;
    height: 3px;
    opacity: 1;
    border-radius: 5px;
}

#jumbo .ms_separator{
    color: white;
}

.bi-star-fill{
    font-size: 25px;
}
/* /JUMBO */

/* PORTFOLIO */
#portfolio, #contact{
    padding: 30px 0;
}

.img-box{
    width: 100%;
    border-radius: 10px;
}
/* /PORTFOLIO */

/* ABOUT */
.ms_download {
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 10px;
}
/* /ABOUT */

/* FOOTER */
#info{
    background-color: #3a546d;
    color: white;
}

.ms_rounded{
    padding: 10px;
    border: 1px solid white;
    border-radius: 50%;
}

#info a{
    color: #1abc9c;
}

#copyright{
    background-color: #2c3e50;
}

.text-copyright{
    color: white;
    font-size: 12px;
}
/* /FOOTER */
