/* [class*="col"] { 
} */

#jumbo{
    padding: 30px 0 20px;
    background-color: #1abc9c;
    color: white;
}

.avatar{
    width: 50%;
}

.ms_star .ms_separator{
    width: 50px;
    height: 3px;
    color: white;
    opacity: 1;
    border-radius: 5px;
}

.bi-star-fill{
    font-size: 25px;
}